{% extends 'base.html.twig' %}

{% block title %}Success !{% endblock %}

{% block body %}
    <style>
        .register-form{
            margin-top: 50px;
            margin-bottom: 100px;
            margin-left: 25%;
        }
    </style>
    <div class="register-form">
        <h1>Congratulation, you're now an user of our website !</h1>
    </div>
{% endblock %}
